p {
    margin: 10px;
}
h1 {
    color: rgb(160, 0, 0);
    font-size: 500%;
    text-align: center;
    font-family: orbitron, monospace, sans-serif; /*Jag använder felera olika fonter utifall en browser inte skulle supporta en eller flera av dem.*/
    padding: 0;
    margin: 0;
}
h2 {
    color: white;
    font-family: orbitron, monospace, sans-serif;
}
h3 {
    color: rgb(120, 255, 255);
    font-family: orbitron, monospace, sans-serif;
    font-size: xx-large;
    text-align: center;
}
h4 {
    color: wheat;
    font-family: orbitron, monospace, sans-serif;
    margin: 10px;
}
ul {
    margin-top: 0;
}
#top_header {
    margin-top: -200px; 
    color: rgba(255, 255, 255, 0); 
    font-size: 30px;
}
#bottom_header {
    margin-top: 30px; 
    color: rgba(134, 248, 119, 0); 
    font-size: 100px;
}
.cassian_andor { /*Change to id css later*/
    font-family: orbitron, monospace, sans-serif;
    font-weight: 100;
}
.center {  /*Used to center images*/
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.text_center {
    text-align: center;
}
.charachter_list {
    font-family: orbitron, monospace, sans-serif;
    font-size: 20px;
}
.charachter_text1 {
    color: wheat;
    font-family: helvetica, monospace, sans-serif;
    background-color: #8f161280;
    padding: 20px;
    margin-bottom: 10px;
    font-size: 25px;
}
.charachter_text2 {
    color: wheat;
    font-family: helvetica, monospace, sans-serif;
    background-color: #36637f80;
    padding: 20px;
    margin-bottom: 10px;
    font-size: 25px;
}
.charachter_rebels {
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, sans-serif;
}
.charachter_empire {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.charachter_neutral {
    color: gray;
}
.related {
    color: whitesmoke;
    font-size: large;

}
a:link {
    color: rgb(0, 216, 231);
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: rgb(29, 134, 0);
    background-color: transparent;
    text-decoration: none;
}
  a:hover {
    color: rgb(255, 0, 98);
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: rgb(255, 149, 0);
    background-color: transparent;
    text-decoration: underline;
}
